<h2>Statistics</h2>
<app-divider></app-divider>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">22</div>
    <div class="label">Faves</div>
  </div>
  <div class="statistic">
    <div class="value">31,200</div>
    <div class="label">Views</div>
  </div>
  <div class="statistic">
    <div class="value">22</div>
    <div class="label">Members</div>
  </div>
</div>

<h2>Item List</h2>
<app-divider></app-divider>
<div class="ui small image">
  <img src="/images/wireframe/image.png" />
</div>
<div class="ui small image">
  <img src="/images/wireframe/image.png" />
</div>
